:root {
    --img-width: 30vw;
  }
  
html { 
    background: url(".\\assets\\white-comic-background.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

* {
    margin: 0;
}

@font-face {
    font-family: cartoonFont;
    src: url(.\\KOMIKAX_.ttf)
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
}

#title {
    height: 50%;
    width: 100%;
    grid-area: 1/1/1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cartoonFont;
    font-size: xx-large;
}

#iconContainer {
    z-index: 2;
    grid-area: 2/1/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.iconBtn {
    height: 15vw;
    width: 12vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: transparent;
}

#rockIcon {
    background-image: url(".\\assets\\rockIcon.png");
    height: 15vw;
    width: 12vw;
}

#paperIcon {
    background-image: url(".\\assets\\paperIcon.png");
}

#scissorsIcon {
    background-image: url(".\\assets\\scissorsIcon.png");
}

.iconBtn:active {
    animation: zoometh 4s;
    animation-iteration-count: 1;
}

.shake:hover { 
    animation: shaketh 0.1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shaketh {
    0% { transform: rotate(0deg) scale(1.1);}
    25% { transform: rotate(2deg) scale(1.1);}
    50% { transform: rotate(0deg) scale(1.1);}
    75% { transform: rotate(-2deg) scale(1.1);}
    100% { transform: rotate(0deg) scale(1.1);}
}

@keyframes zoometh {
    0% {transform: scale(1.2);}
    32% {transform: scale(1.2);}
    33% {transform: scale(2);}
    76% {transform: scale(2);}
    77% {transform: scale(4);}
    100% {transform: scale(4);}
}

#showdownContainer {
    z-index: 1;
    grid-area: 2/1/2/4;
    height: 100%;
    width: 100vw;
  }

.enterLeft {
    object-fit: cover;
    object-position: 100% 0;
    left: 0;
    width: var(--img-width);
    height: calc(1.1*var(--img-width));
    animation: onScreen 1s 1;
}

.enterRight {
    object-fit: cover;
    object-position: 100% 0;
    float: right;
    width: var(--img-width);
    height: calc(1.1*var(--img-width));
    transform: scaleX(-1);
    animation: onScreen 1s 1;
}

.leaveScreen {
    animation: offScreen 2s 1;
}

@keyframes onScreen {
    0% {
        width: 0;
      }
      100% {
        width: var(--img-width);
      }
}

@keyframes offScreen {
    0% {
        width: var(--img-width);
      }
      100% {
        width: 0;
      }
}

.score{
    background: "assets/scorebg.png" no-repeat center;
    height: 30vh;
    position: relative;
}

#playerScoreContainer {
    grid-area: 3/1/3/1;
    margin-left: 0;
    margin-right: auto;
}

#comScoreContainer {
    grid-area: 3/3/3/3;
    margin-left: auto;
    margin-right: 0;
}

.val {
    /* background-image: url("assets/scorebg.png"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    width: 30vw;
    font-family: cartoonFont;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cVal {
    grid-area: 3/3/3/3;
    margin-left: auto;
    margin-right: 0;
}

.gameOver {
    grid-area: 2/2/2/2;
    font-family: cartoonFont;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px black;
}